@model ApiEmpresa.Models.Proveedores

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>

<div>
    <h4>Proveedores</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.nit)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.nit)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.proveedor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.proveedor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.direccion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.direccion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.razon_social)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.razon_social)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.fecha_creacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.fecha_creacion)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.id_proveedor">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
</body>
</html>
