@model IEnumerable<ApiEmpresa.Models.Proveedores>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.nit)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.proveedor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.direccion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.razon_social)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fecha_creacion)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nit)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.proveedor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.direccion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.razon_social)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fecha_creacion)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.id_proveedor">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.id_proveedor">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.id_proveedor">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
</body>
</html>
